#music-player { 
	position:relative;
	height:166px;
	background:url(img/music-player-bg.png) center top no-repeat;
	overflow:hidden;
}
#music-player img{
	background:transparent;
}
.jp-audio, .jp-type-playlist { 
	height:175px;
}
.jp-audio p, .vcard p { 
	font-size:11px;
	text-transform:uppercase;
	font-style:italic;
	margin-bottom:0;
}
.jp-playlist { 
	position:relative;
	margin-top:-24px;
}
.jp-playlist li { 
	position:absolute;
	left:0;
	top:0;
	width:336px;
	opacity:0;
	list-style:none;
	margin:0;
	text-align:center;
	font-family:"BebasNeueRegular";
	font-size:24px;
	color:#36897b;
	-webkit-backface-visibility: hidden;
	-webkit-transition:.5s linear all;
	-moz-transition:.5s linear all;
	transition:.5s linear all;
}
.jp-playlist a {
	color:#36897b;
}
.jp-playlist li.jp-playlist-current { 
	opacity:1;
	}
.no-opacity .jp-playlist li { 
	display:none 
}
.no-opacity .jp-playlist li.jp-playlist-current { 
	display:block 
	}
.jp-controls { 
	height:75px;
	line-height:75px;
	margin-bottom:24px;
}
.jp-controls  div { 
	display:inline-block;
	width:27px;
	height:27px;
	background:url(img/sprite-musicplayer.png) -135px 0 no-repeat;
	text-indent:-9999px;
	cursor:pointer;
	vertical-align:middle;
}
.jp-controls .jp-previous, .jp-controls .jp-next { 
	position:relative;
}
.jp-controls .jp-play, .jp-controls .jp-pause { 
	position:relative;
	width:37px;
	height:37px;
	background-position:-98px 0;
}
.jp-controls .jp-play:after, .jp-controls .jp-pause:after { 
	content:'';
	display:block;
	width:8px;
	height:23px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-4px;
	margin-top:-11px;
	background:url(img/sprite-musicplayer.png) -170px 0 no-repeat;
	z-index:1;
}
.jp-controls .jp-previous:after, .jp-controls .jp-next:after { content:'';
display:block;
width:8px;
height:11px;
position:absolute;
left:50%;
top:50%;
margin-left:-4px;
margin-top:-4px;
background:url(img/sprite-musicplayer.png) -162px 0 no-repeat;
opacity:.5;
}.jp-controls .jp-previous:hover:after, .jp-controls .jp-next:hover:after {  opacity:1;
}.jp-controls .jp-next:after { margin-left:-2px;
background-position:-162px -11px;
}.jp-controls .jp-play:after { width:23px;
height:12px;
margin-left:-11px;
margin-top:-6px;
background-position:-135px -27px;
opacity:.75;
}.jp-controls .jp-play:hover:after { opacity:1;
}.jp-previous { margin-right:12px;
}.jp-next { margin-left:12px;
}#jquery_jplayer_2 { height:0 !important;
}section { min-height:786px;
}section > header h1 { width:496px;
height:330px;
margin-left:200px;
background:url(img/sprite-headers.png) no-repeat;
text-indent:-9999px;
}#buy-album { position:relative;
min-height:516px;
margin:40px 0;
}#buy-album p { display:none;
}#buy-album a, footer[role="contentinfo"] a:first-child { position:absolute;
left:50%;
top:50%;
display:block;
 width:175px;
height:175px;
margin-left:-87.5px;
margin-top:-87.5px;
text-indent:-9999px;
z-index:1200;
cursor:pointer;
background:#fff url(img/bg-body.jpg);
-webkit-border-radius:300px;
-moz-border-radius:300px;
border-radius:300px;
-webkit-box-shadow:inset 0 0 3px rgba(0,0,0,.75);
-moz-box-shadow:inset 0 0 3px rgba(0,0,0,.75);
box-shadow:inset 0 0 3px rgba(0,0,0,.75);
}.no-borderradius #buy-album a { background:transparent;
}#buy-album a .button, footer[role="contentinfo"] a .button { position:absolute;
left:50%;
top:50%;
margin-left:-75.5px;
margin-top:-75.5px;
display:block;
width:151px;
height:151px;
background:url(img/sprite-download-album.png) -171px 0 no-repeat;
cursor:pointer;
}#buy-album a .button span, footer[role="contentinfo"] a .button span {  position:absolute;
left:50%;
top:50%;
margin-left:-44px;
margin-top:-36.5px;
display:block;
width:88px;
height:73px;
background:url(img/sprite-download-album.png) 0 -171px no-repeat;
-webkit-transition:.35s linear opacity;
-moz-transition:.35s linear opacity;
transition:.35s linear opacity;
cursor:pointer;
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
backface-visibility: hidden;
}#buy-album a .arrow, footer[role="contentinfo"] a .arrow { display:block;
width:73px;
height:85px;
position:absolute;
left:50%;
top:50%;
margin-left:-36.5px;
margin-top:-42.5px;
background:url(img/sprite-download-album.png) -87px -172px no-repeat;
opacity:.25;
-webkit-transition:.5s linear opacity;
-moz-transition:.5s linear opacity;
transition:.5s linear opacity;
cursor:pointer;
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
backface-visibility: hidden;
}#buy-album a:hover .button span, footer[role="contentinfo"] a:hover .button span { opacity:0;
}#buy-album a:hover .arrow, footer[role="contentinfo"] a:hover .arrow { opacity:1;
}#buy-album img { display:block;
position:absolute;
left:50%;
top:50%;
margin-left:-258px;
margin-top:-258px;
-webkit-backface-visibility: hidden;
}#band { position:relative;
}#band img { display:block;
position:absolute;
left:0;
top:90px;
-webkit-transform:rotate(15deg);
-moz-transform:rotate(15deg);
transform:rotate(15deg);
-webkit-box-shadow:-4px 4px 0 rgba(0,0,0,.15);
-moz-box-shadow:-4px 4px 0 rgba(0,0,0,.15);
box-shadow:-4px 4px 0 rgba(0,0,0,.15);
}#band img + img { left:610px;
top:270px;
-webkit-transform:rotate(-15deg);
-moz-transform:rotate(-15deg);
transform:rotate(-15deg);
}#band p { width:300px;
margin-left:290px;
font-size:28px;
line-height:1.3;
-webkit-transform:rotate(-2deg);
-moz-transform:rotate(-2deg);
transform:rotate(-2deg);
}.band4 { margin:-42px 0 24px -24px;
display:block;
-webkit-transform:rotate(4deg);
-moz-transform:rotate(4deg);
transform:rotate(4deg);
}.band6 { margin:-48px 0 12px -48px;
display:block;
-webkit-transform:rotate(2deg);
-moz-transform:rotate(2deg);
transform:rotate(2deg);
}.band5 { margin:-48px 0 12px -48px;
display:block;
-webkit-transform:rotate(-6deg);
-moz-transform:rotate(-6deg);
transform:rotate(-6deg);
}#lyrics { margin-top:-40px;
}#lyrics > header h1 { margin-left:-70px;
height:170px;
background-position:0 -330px;
}#lyrics > div { width:45%;
float:left;
}#lyrics > div + div { float:right;
}#lyrics img { -webkit-box-shadow:-4px 4px 0 rgba(0,0,0,.15);
-moz-box-shadow:-4px 4px 0 rgba(0,0,0,.15);
box-shadow:-4px 4px 0 rgba(0,0,0,.15);
}#lyrics article { margin-bottom:48px;
}#lyrics article > header h1 { font-family:"BebasNeueRegular";
font-size:24px;
margin-bottom:12px;
color:#36897b;
text-align:center;
}#lyrics article > header span { position:relative;
display:block;
width:35px;
height:35px;
margin:0 auto 12px auto;
border:1px solid #c3bfba;
-webkit-border-radius:100px;
-moz-border-radius:100px;
border-radius:100px;
text-align:center;
line-height:38px;
font-family:"BebasNeueRegular";
font-size:24px;
color:#a9a49d;
}.no-audio #lyrics article > header span { display:none }#lyrics article > header span:hover, #lyrics article > header span.playing { border-color:transparent;
background:#dc4b24;
cursor:pointer;
text-indent:-9999px;
}#lyrics article > header span:hover:after, #lyrics article > header span.playing:after { content:'';
display:block;
width:8px;
height:23px;
position:absolute;
left:50%;
top:50%;
margin-left:-4px;
margin-top:-11px;
background:url(img/sprite-musicplayer.png) -170px 0 no-repeat;
z-index:1;
width:23px;
height:12px;
margin-left:-11px;
margin-top:-6px;
background-position:-135px -39px;
opacity:.75;}#lyrics article > header span.playing:after { width:8px;
height:23px;
margin-left:-4px;
margin-top:-11px;
background-position:-170px -22px;
}footer[role="contentinfo"] { position:relative;
background:url(img/footer-bg.png) center bottom no-repeat;
height:436px;
}footer[role="contentinfo"] a:first-child { width:171px;
height:171px;
margin-left:-90px;
margin-top:-85.5px;
background:url(img/sprite-tothetop.png) no-repeat;
-webkit-box-shadow:none;
}footer[role="contentinfo"] a:first-child .button { background:transparent;
}footer[role="contentinfo"] a:first-child .button span { width:30px;
height:68px;
margin-left:-15px;
margin-top:-34px;
background:url(img/sprite-tothetop.png) no-repeat;
background-position:0 -171px;
}footer[role="contentinfo"] a:first-child .arrow { background:url(img/sprite-tothetop.png) no-repeat;
background-position:-30px -171px;
margin-left:-32px;
}footer[role="contentinfo"] a + a { position:absolute;
left:0;
bottom:20px;
margin-left:-124px;
left:50%;
opacity:.5;
}footer[role="contentinfo"] a + a:hover { opacity:1 }footer[role="contentinfo"] { position:absolute;
right:0;
bottom:0;
left:0;
margin-right:-400px;
}@media screen and (max-height: 720px) {header[role="banner"] h1 { width:259px;
height:308px;
margin:0 auto 20px;
background:url(img/logo2.png) no-repeat;
}#music-player { background:url(img/music-player-bg2.png) center top no-repeat;
}}@media screen and (max-height: 620px) {header[role="banner"] { position:absolute;
}header[role="banner"] h1 { width:259px;
height:308px;
margin:0 auto 20px;
background:url(img/logo2.png) no-repeat;
}#music-player { background:url(img/music-player-bg2.png) center top no-repeat;
}.vcard { position:relative;
bottom:auto;
margin-top:40px;
}}@media screen and (max-width: 1240px) {body { padding-left:40px;
padding-right:40px;
}[role="main"] { width:580px;
}#band header { margin-left:-75px;
}}@media screen and (max-width: 940px) {html, body { overflow-x:hidden;
}html { -webkit-text-size-adjust:none;
}body { min-width:0;
padding:0 !important;
width:100%;
min-width:0;
margin:0;
}#backgrounds { display:none;
}section { min-height:0;
width:100%;
margin:0 auto;
}header[role="banner"] { position:relative;
position:static;
margin:20px auto;
left:auto;
top:auto;
width:260px;
}header[role="banner"] h1 { margin:0 auto;
width:100%;
background-size:100%;
}header[role="banner"] h1 { width:259px;
height:308px;
margin:0 auto 20px;
background:url(img/logo2.png) center center no-repeat;
}[role="main"] { float:none;
width:100%;
min-width:0;
}.vcard { position:absolute;
bottom:20px;
}#music-player { margin-top:0;
background:url(img/music-player-bg2.png) center top no-repeat;
}.jp-playlist li { width:260px;
}#buy-album { min-height:540px;
margin:0 auto 40px;
}#band { padding-bottom:120px;
}#band header { display:none;
}#band img { display:none;
}#band img + img { position:relative;
left:auto;
top:auto;
-webkit-transform:rotate(-3deg);
-moz-transform:rotate(-3deg);
transform:rotate(-3deg);
margin-left:-40px;
}#band p { -webkit-transform:none;
-moz-transform:none;
transform:none;
width:auto;
margin:0;
font-size:18px;
line-height:1.5;
padding:0 20px;
}#lyrics { display:none;
}footer[role="contentinfo"] { display:none;
}}